/* mobile */
.mobile-nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.desktop-nav {
  display: none;
}

.burger-design {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 15;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.burger-line {
  width: 1.5rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.burger-line0,
.burger-line1,
.burger-line2 {
  background-color: black;
}

.burger-line0 {
  transform: rotate(45deg);
}

.burger-line1 {
  transform: translateX(40px);
}

.burger-line2 {
  transform: rotate(-45deg);
}

/* desktop */
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
  }

  /* .nav__header {} */

  .nav__link-list {
    display: flex;
    list-style: none;
  }

  .nav__link {
    padding: .5rem;
    border: 1px solid black;
  }

  .nav__link:hover {
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
    border: 1px solid white;
  }
}
