.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  width: 55%;
  border-left: 1px solid black;
  z-index: 9;
  transform: translateX(100%);
}

.nav-menu.show {
  transform: translateX(0%);
}

.nav-menu a {
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s linear;
  cursor: pointer;
  outline: none;
}

.nav-menu a.show {
  color: white;
}

/* .nav-menu a:hover {} */